/* Empty. Add your own CSS if you like */

.modal-backdrop-bg {
  transition: opacity 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
  background-color: #000;
  opacity: 0;
}

.active .modal-backdrop-bg {
  opacity: 0.7;
}

.content-center {
	display: flex;
    align-items: center;
    justify-content: center;
}
